
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Popcorn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-6267084377856111">
    <link rel="stylesheet" href="/css/genre.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="icon" type="image/svg" href="https://res.cloudinary.com/dsi0a9weg/image/upload/v1607632566/icon_oqz5n8.png">
   
</head>
<body>
    <div id="loader" class="center"></div> 
    <div class="left">
        <a href='/' class="logo" ></a>
        <br><br>
        <ul>
            <a href="/" style="text-decoration: none; color: #d7d8d7;"><li >HOME &nbsp;&nbsp;</li></a>
            <li style="color: #b6362d;" >GENRE &nbsp;&nbsp;</li>
            <a href="/trending" style="text-decoration: none; color: #d7d8d7;"><li>TRENDING &nbsp;&nbsp;</li></a>
            <a href="/search"><li id="search">SEARCH</li></a>
        </ul>
        <div class="cont1">

        </div>
        <div class="footnav">

            <button id="circle" style="color:  rgb(218, 218, 218);"class="prev" onclick="prev('<%=id%>')">
                    <h3 style="text-align: center;margin:0;font-weight: 300;">Prev</h3>
            </button>
            
                                <p style="text-align: center;">
                                    <span id="inner" style="color: #b6362d;">1 </span> : 
                                    <span id="inner2"> 546</span>
                                </p>

            <button id="circle" style="color: rgb(218, 218, 218);" class="next" onclick="next('<%=id%>')">
                    <h3 style="text-align: center;margin:0;font-weight: 300;">Next</h2>
            </button>

        </div>
    </div>

    <div class="right">
        <h2 class="close" onclick="resize()"><i class="fas fa-times"></i></h2>
        <div class="watch">genre</div>
        <div class="pic" id='backdrop'></div>
        <div class="rating">
            <img src="/assets/imdb.png" alt="" style="width: 10%;">
            <h5 style="position: absolute; top:0%; left:12%;margin: 0;color: white;" id="rating"></h5>
        </div>
        <h2 id="title"></h2>
        <h5 id="r_date"></h5>
        <p id="overview" style=" font-size:70%;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo consequuntur similique nam labore ullam voluptatum, adipisci eius natus quam reprehenderit et ipsa neque consectetur voluptas excepturi cupiditate provident ipsum. Inventore!</p>
        <a href="" id="plink"><button id="read">READ MORE</button></a>
    </div>
  
</body>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>
    var id=`<%= id %>`;
    window.onload = disp(Number(id),1);
    
    function disp(id,page){
        document.querySelector('.cont1').innerHTML=' ';
        fetch(`https://api.themoviedb.org/3/discover/movie?api_key=<%=key%>&language=en-US&sort_by=vote_count.desc&include_adult=false&include_video=false&page=${page}&with_genres=${id}`)
            .then(response => response.json())
            .then(
             function(res){
                document.querySelector('#inner2').innerText = res.total_pages;
              for(let i=0;i<20;i++){
                document.querySelector('.cont1').innerHTML+=` <div id="main${i}" class="main">
                    <div class="card" id="${res.results[i].id}" onClick="right(this.id)"></div>
                <p id="title${i}" class="title"></p>
                <p id="title2${i}" class="title2"></p></div>`;
                    document.getElementById(`${res.results[i].id}`).style.backgroundImage= `linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url('https://image.tmdb.org/t/p/original${res.results[i].poster_path}')`;
                    document.getElementById(`title${i}`).innerText=res.results[i].original_title;
                    document.getElementById(`title2${i}`).innerText=res.results[i].release_date.slice(0,4);
               }
            })

            var val = document.querySelector('#inner').innerText;
            console.log(val);
            if (val == '1'){
                document.querySelector('.prev').disabled = true;
        
            }

            document.onreadystatechange = function() { 
                    if (document.readyState !== "complete") { 
                        document.querySelector("body").style.visibility = "hidden"; 
                        document.querySelector("#loader").style.visibility = "visible"; 
                        
                    } else { 
                        setTimeout(() => {
                            console.log('waiting');
                            document.querySelector("#loader").style.visibility = "hidden";         
                            document.querySelector("body").style.visibility = "visible";
                        }, 1000);
                    
                    } 
            }; 
        }; 
   

   function next(id){ // to display next 20 results
        document.querySelector('.left').style.width='100%';
        document.querySelector('.right').style.display='none';
        var prev = document.querySelector('.prev').disabled;
        if(prev === true){

            document.querySelector('.prev').disabled=false;
        
          
        }
        
        var val = Number(document.querySelector('#inner').innerText);
        val= val +1;
        disp(Number(id),val);
        document.querySelector('#inner').innerText = val;
   }

   function prev(id){  //to display prev 20 results
        document.querySelector('.left').style.width='100%';
        document.querySelector('.right').style.display='none';
        var val = Number(document.querySelector('#inner').innerText);
        if (val === 2){
            document.querySelector('.prev').disabled=true;
     
            val = val-1;
            disp(Number(id),val);
            document.querySelector('#inner').innerText = val;
        }
        else{
            val = val-1;
            document.querySelector('#inner').innerText = val;
            disp(Number(id),val);
        }
       
   }

 function right(id){ // turns on the right div 
    var link;
    $(".left").animate({width: "65%"});
    document.querySelector('.right').style.display='block';
    fetch(`https://api.themoviedb.org/3/movie/${id}?api_key=<%=key%>&language=en-US`)
    .then(data => data.json())
    .then(
        function(res){
            document.getElementById(`backdrop`).style.backgroundImage= `linear-gradient(180deg, rgba(28, 28, 28, 30%)  53.99%, #1C1C1C 100%),url('https://image.tmdb.org/t/p/original${res.backdrop_path}')`;
            document.getElementById('r_date').innerText= formatDate(res.release_date);
            document.getElementById('overview').innerText=res.overview;
            document.getElementById('title').innerText=res.original_title;
            link=res.original_title;
            console.log(link);
            $('#plink').attr("href", "/search?str="+link);
            document.getElementById('rating').innerText=res.vote_average+' / 10';
           

            function formatDate(d) 
        {
          var date = new Date(d);

         if ( isNaN( date .getTime() ) ) 
         {
            return d;
         }
         else
        {
          
          var month = new Array();
          month[0] = "Jan";
          month[1] = "Feb";
          month[2] = "Mar";
          month[3] = "Apr";
          month[4] = "May";
          month[5] = "Jun";
          month[6] = "Jul";
          month[7] = "Aug";
          month[8] = "Sept";
          month[9] = "Oct";
          month[10] = "Nov";
          month[11] = "Dec";

          day = date.getDate();
          
          if(day < 10)
          {
             day = "0"+day;
          }
          
          return    day  + " " +month[date.getMonth()] + " " + date.getFullYear();
          }
            
         }





        }
    )
    var arr = document.querySelectorAll('.card');
    arr.forEach(x => {
        x.style.height="200px";
    });
 }

 function resize(){ //resizes right div back to normal
    $(".left").animate({width: "100%"});
    document.querySelector('.right').style.display='none';
    var arr = document.querySelectorAll('.card');
    arr.forEach(x => {
        x.style.height="300px";
    });
 } 
</script>
</html>
