<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-6267084377856111">
    <title>Search for movies/tv</title>
    <link rel="stylesheet" href="/css/search.css">
    <link rel="icon" type="image/svg" href="https://res.cloudinary.com/dsi0a9weg/image/upload/v1607632566/icon_oqz5n8.png">
  
</head>
<body id="b" style="visibility: visible;">
    <div id="loader" class="center"></div> 
    <div class="pic">
        <div class="head" >
            <span class="heading">Search &nbsp;</span><span class="line">| &nbsp;</span><span class="brand" style="display: none;"></span>  
            <div ></div>
        </div>
        <div class="squery">
            <input type="text" id="search" name="query" placeholder="Search for movie or tv-shows here." autocomplete="off" oninput="suggest(this.value)">
            <br>
            <div id="suggestions">
               
            </div>
        </div>
        <br>
      
        <h2 id="rdate" style="text-transform: uppercase;">Search your movies/tv shows here</h2>
        <h1 id="mname" style="text-transform: uppercase;">SEARCH</h1>
        
        <p id="cont">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis aliquid quos quisquam odit illo alias? Porro recusandae eius facere harum fuga nostrum excepturi modi neque, et quas rerum minus molestiae!</p>
        <button class="foot1" onclick="clck()" style="display: none; outline: none; background-color: transparent;border: none;">
            <span class="foote">read &nbsp;</span><span class="more">more</span>
        </button>
        <ul >
            <a href="/" style="text-decoration: none; color: #d7d8d7;"><li>HOME &nbsp;&nbsp;</li></a>
            <li id="genre" onclick="droplist()" >GENRE &nbsp;&nbsp;</li>
            <a href="/trending" style="text-decoration: none; color: #d7d8d7;"><li>TRENDING &nbsp;&nbsp;</li></a>
            <a href="/search" ><li style="color: #d6362d;">SEARCH</li></a>
        </ul>
        <div class="dropdown" >
            <a href="/genre?id=28" class="droplink">ACTION</a><br>
            <a href="/genre?id=12" class="droplink">ADVENTURE</a><br>
            <a href="/genre?id=16" class="droplink">ANIMATION</a><br>
            <a href="/genre?id=35" class="droplink">comedy</a><br>
            <a href="/genre?id=80" class="droplink">crime</a><br>
            <a href="/genre?id=99" class="droplink">documentary</a><br>
            <a href="/genre?id=18" class="droplink">drama</a><br>
            <a href="/genre?id=10751" class="droplink">family</a><br>
            <a href="/genre?id=14" class="droplink">fantasy</a><br>
            <a href="/genre?id=36" class="droplink">history</a><br>
            <a href="/genre?id=27" class="droplink">horror</a><br>
            <a href="/genre?id=10402" class="droplink">music</a><br>
            <a href="/genre?id=9648" class="droplink">mystery</a><br>
            <a href="/genre?id=10749" class="droplink">romance</a><br>
            <a href="/genre?id=878" class="droplink">science fiction</a><br>
            <a href="/genre?id=10770" class="droplink">tv movie</a><br>
            <a href="/genre?id=53" class="droplink">thriller</a><br>
            <a href="/genre?id=10752" class="droplink">war</a><br>
            <a href="/genre?id=37" class="droplink">western</a><br>

        </div>
    </div>
    <div class="pic1">
        <p class="des" id="des">Forever alone in a crowd, failed comedian Arthur Fleck seeks connection as he walks the streets of Gotham City. Arthur wears two masks -- the one he paints for his day job as a clown, and the guise he projects in a futile attempt to feel like he's part of the world around him.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis laboriosam consequuntur similique deleniti iusto quasi sint placeat suscipit enim molestias tempora aliquam, obcaecati incidunt explicabo non cum delectus reiciendis ex.
        </p>
        <div class="cast" >
            <span class="lead">LEAD &nbsp;</span><span class="cast1">CAST</span>
        </div><br><br>
        <div class="actors">
            <div class="card" id="card1"><p id="name1"></p></div>
            <div class="card" id="card2" ><p id="name2"></p></div>
            <div class="card" id="card3"><p id="name3"></p></div>
            <div class="card" id="card4"><p id="name4"></p></div>
        </div>
    </div>

    <div class="content">
        <a href="/" id='logo'><img src="/assets/logo.png" alt=""></a>
        <div class="watch">search</div>
        <div class="info" style="display: none;">
            <span class="tit">name : &nbsp;</span><span style="font-weight: 200 ; font-size: 80%;" id="movie" >joker</span><br>
            <span class="tit">runtime : &nbsp;</span><span style="font-weight: 200;font-size: 80%;" id="runtime">123 mins</span><br>
            <span class="tit">genres : &nbsp;</span><span style="font-weight: 200;font-size: 80%;" id="genres">drama</span><br>
            <span class="tit">release date : &nbsp;</span><span style="font-weight: 200;font-size: 80%;" id="release">2nd october 2019</span><br>
            <span class="tit">imdb : &nbsp;</span><span style="font-weight: 200;font-size: 80%;" id="rating">8.5 / 10</span><br>
        </div>
        <p class="pcon">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem facere est possimus voluptas ut laudantium, ipsum iste laboriosam aliquid, ipsam quaerat minus? Eius autem beatae vitae quam soluta? Nobis, error!</p>
        <iframe src="https://www.youtube.com/embed/" style="display: none;"></iframe>
        <div class="alt"></div>
        <div class="net" style="display: none; outline: none;border: none;" onclick="clck()">read more</div>
        <div class="prime">watch on prime</div>
    </div>
    <!-- <div class="cursor"></div> -->
</body>
<script>
    document.onreadystatechange = function() { 
    if (document.readyState !== "complete") { 
        document.querySelector("body").style.visibility = "hidden"; 
        document.querySelector("#loader").style.visibility = "visible"; 
          
    } else { 
        setTimeout(() => {
            console.log('waiting');
            document.querySelector("#loader").style.display = "none";       
              document.querySelector("body").style.visibility = "visible";
        }, 1000);
        
    } 
}; 
</script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<script>

    function suggest(sk){  //auto suggest function

        if(document.querySelector('#suggestions').style.display =='block'){

            fetch(`https://api.themoviedb.org/3/search/multi?api_key=<%= key %>&query=${sk}&page=1&include_adult=false`)
            .then(response => response.json())
            .then(
                function(data){
                    
                    document.getElementById('suggestions').innerHTML = '';
                    console.log(data);
                    data.results.forEach(i => {
                    
                        if(i.media_type == 'tv'){
                            document.getElementById('suggestions').innerHTML += `
                                <div class="sugcard" id="${i.id}" name=${i.media_type} onclick='autosearch(this.id,this.attributes["name"].value)'>
                                   
                                    <h2 id="scardname">${i.name}<span style="color:#d6362d;font-size:60%;">&nbsp; [${i.media_type}]</span></h2>
                                    <p id="scardyear">${i.first_air_date.slice(0,4)}</p>
                                </div>`;
                                // document.querySelector('#sposter').style.backgroundImage= `linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url('https://image.tmdb.org/t/p/original${i.poster_path}')`; 
                        }
                        else if(i.media_type == 'movie'){
                            
                            document.getElementById('suggestions').innerHTML += `
                                <div class="sugcard" id="${i.id}" name=${i.media_type} onclick='autosearch(this.id,this.attributes["name"].value)'>
                               
                                    <h2 id="scardname">${i.original_title}<span style="color:#d6362d;font-size:60%;">&nbsp; [${i.media_type}]</h2>
                                    <p id="scardyear">${i.release_date.slice(0,4)}</p>
                                </div>`;
                            // document.querySelector('#sposter').style.backgroundImage= `linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url('https://image.tmdb.org/t/p/original${i.poster_path}')`;
                                
                        }
                     
                    });
                })

            if(document.querySelector('#search').value =='' || document.querySelector('#search').value == null){
                document.querySelector('#suggestions').style.display='none';
            }
        }
        else{
            document.querySelector('#suggestions').style.display='block';

            if(document.querySelector('#search').value =='' || document.querySelector('#search').value == null){
                document.querySelector('#suggestions').style.display='none';
            }
        }   
       
        
    
    } ;

// document.querySelectorAll('.sugcard').forEach(x => {
//     x.addEventListener('click',event =>{console.log('coco');});
// });

    function autosearch(id,type) {
      
            document.querySelector('#suggestions').style.display="none";
            document.querySelector('.pcon').style.display="none";
            document.querySelector('.net').style.display="block";
            document.querySelector('.info').style.display="block";
            document.querySelector('.foot1').style.display="block";
            data(query);
        
       
        var vid ='';
        console.log( id+' '+ type);
        var imga='';
    fetch(`https://api.themoviedb.org/3/${type}/${id}?api_key=<%=key%>&language=en-US`)
    .then(response => response.json())
    .then(
     function(res){
      
        fetch(`https://api.themoviedb.org/3/movie/${id}/credits?api_key=<%= key %>&language=en-US`)
                        .then(response=>response.json())
                        .then(function(t){
                            for(let i=1;i<=4;i++)
                            {
                                document.getElementById(`name${i}`).innerText=`${t.cast[i-1].name} AS ${t.cast[i-1].character}`;
                                document.getElementById(`card${i}`).style.backgroundImage= `linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url('https://image.tmdb.org/t/p/original${t.cast[i-1].profile_path}')`;

                            }
                        })     
       
            
                    iid  = `https://image.tmdb.org/t/p/original${res.backdrop_path}`;
                    console.log(iid);
                  
                    if(type.localeCompare('movie')===0){
                    
                    fetch(`https://api.themoviedb.org/3/movie/${id}/videos?api_key=<%= key %>&language=en-US`)
                    .then(response => response.json())
                    .then(function (data){
                        if(data.results[0])
                        {
                            vid = data.results[0].key;
                        }
                        else{
                            vid = undefined;
                        }
                        
                       if(vid){
                        if (vid ===''){
                            document.querySelector('iframe').style.display="none";
                            document.querySelector('.alt').style.display="block"; 
                        }
                        else{
                            document.querySelector('iframe').setAttribute('src','https://www.youtube.com/embed/'+vid);
                            document.querySelector('iframe').style.display="block";
                            document.querySelector('.alt').style.display="none"; 
                        }
                       }
                       else{
                            document.querySelector('iframe').style.display="none";
                            document.querySelector('.alt').style.display="block"; 
                            
                       }
                        
                    
                        
                    });

                        fetch(`https://api.themoviedb.org/3/movie/${res.id}?api_key=<%= key %>&language=en-US`)
                        .then(response => response.json()
                        .then(
                            function(x){
                                document.getElementById('movie').innerText=x.title;
                    document.getElementById('mname').innerText=x.title;
                    document.getElementsByClassName('heading')[0].innerText=x.title;
                    document.getElementById('release').innerText=formatDate(x.release_date);
                    document.getElementById('rdate').innerText=formatDate(x.release_date);
                    document.getElementById('des').innerText=x.overview;
                    document.querySelector('.pic').style.backgroundImage=`linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url(${iid})`;
                    document.getElementById('genres').innerText=`${x.genres[0].name} ,${x.genres[1].name} ,${x.genres[2].name} `;
                    document.getElementById('runtime').innerText=x.runtime;
                   document.getElementById('rating').innerText=x.vote_average +" / 10";
                            }
                        )).catch(error=>console.log(error))
                        
                    
                    }
                    else{

                        fetch(`https://api.themoviedb.org/3/tv/${id}/credits?api_key=<%= key %>&language=en-US`)
                        .then(response=>response.json())
                        .then(function(t){
                            console.log(res.id);
                            for(let i=1;i<=4;i++)
                            {
                                document.getElementById(`name${i}`).innerText=`${t.cast[i-1].name} AS ${t.cast[i-1].character}`;
                                document.getElementById(`card${i}`).style.backgroundImage= `linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url('https://image.tmdb.org/t/p/original${t.cast[i-1].profile_path}')`;

                            }
                        })                                

                        fetch(`https://api.themoviedb.org/3/tv/${res.id}/videos?api_key=<%= key %>&language=en-US`)
                    .then(response => response.json())
                    .then(function (data){
                        vid = data.results[0].key;
                        if (vid ===''){
                            document.querySelector('iframe').setAttribute('src','https://www.youtube.com/'); 
                            document.querySelector('iframe').style.display="block";
                        }
                        else{
                            console.log('vid : ' + vid);
                    
                            document.querySelector('iframe').setAttribute('src','https://www.youtube.com/embed/'+vid);
                            document.querySelector('iframe').style.display="block";
                        }
                        
                    
                        
                    });
                        
                        fetch(`https://api.themoviedb.org/3/tv/${res.id}?api_key=<%= key %>&language=en-US`)
                        .then(response => response.json()
                        .then(
                            function(x){
                                document.getElementById('movie').innerText=x.name;
                    document.getElementById('mname').innerText=x.name;
                    document.getElementsByClassName('heading')[0].innerText=x.name;
                    document.getElementById('release').innerText=formatDate(x.first_air_date);
                    document.getElementById('rdate').innerText=formatDate(x.first_air_date);

                                
                    document.getElementById('des').innerText=x.overview;
                    document.querySelector('.pic').style.backgroundImage=`linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url(${iid})`;
                    document.getElementById('runtime').innerText=x.runtime;           
                    document.getElementById('runtime').innerText=x.runtime;
                   document.getElementById('rating').innerText=x.vote_average +" / 10";
                            }
                        )).catch(error=>console.log(error))
                      
                    }
                
                })
                .catch(error => console.log('error', error));
            }



    function formatDate(d)  // formats the date
        {
          var date = new Date(d);

         if ( isNaN( date .getTime() ) ) 
         {
            return d;
         }
         else
        {
          
          var month = new Array();
          month[0] = "Jan";
          month[1] = "Feb";
          month[2] = "Mar";
          month[3] = "Apr";
          month[4] = "May";
          month[5] = "Jun";
          month[6] = "Jul";
          month[7] = "Aug";
          month[8] = "Sept";
          month[9] = "Oct";
          month[10] = "Nov";
          month[11] = "Dec";

          day = date.getDate();
          
          if(day < 10)
          {
             day = "0"+day;
          }
          
          return    day  + " " +month[date.getMonth()] + " " + date.getFullYear();
          }
            
         }
    var query = `<%=q %>`;
    console.log(query);
    var str = `<%=str %>`;
    console.log(str);
    
     function ldata(){
        if(query){
            
            document.querySelector('.pcon').style.display="none";
            document.querySelector('.net').style.display="block";
            document.querySelector('.info').style.display="block";
            document.querySelector('.foot1').style.display="block";
            data(query);
        }
        else if(str){
            document.querySelector('.pcon').style.display="none";
            document.querySelector('.net').style.display="block";
            document.querySelector('.info').style.display="block";
            document.querySelector('.foot1').style.display="block";
            data(str);
        }
    }

    window.onload = ldata;
    function droplist(){
        var drop = document.querySelector('.dropdown');
        var style = window.getComputedStyle(drop);
        var val = style.getPropertyValue('display');
        console.log(val);
        if(val === 'none'){
            drop.style.display="block";
        }
        else{
            drop.style.display="none";
        }
    }
    document.querySelector('#search').onkeydown=function (e){
        if(e.keyCode === 13){
            document.querySelector('#suggestions').style.display='none';
            search();
        }
    };
    function search(){
        if(document.getElementById('search').value)
        {   
            document.querySelector('.pcon').style.display="none";
            document.querySelector('.net').style.display="block";
            document.querySelector('.info').style.display="block";
            document.querySelector('.foot1').style.display="block";
            data(document.getElementById('search').value);
            document.getElementById('search').value='';
        }
    }

   
    function data(ans){ // data func

        var vid ='';
        var imga='';
        

            fetch(`https://api.themoviedb.org/3/search/multi?api_key=<%= key %>&query=${ans}&page=1&include_adult=true`)
            .then(response => response.json())
            .then(
             function(res){
                fetch(`https://api.themoviedb.org/3/movie/${res.results[0].id}/credits?api_key=<%= key %>&language=en-US`)
                                .then(response=>response.json())
                                .then(function(t){
                                    for(let i=1;i<=4;i++)
                                    {
                                        document.getElementById(`name${i}`).innerText=`${t.cast[i-1].name} AS ${t.cast[i-1].character}`;
                                        document.getElementById(`card${i}`).style.backgroundImage= `linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url('https://image.tmdb.org/t/p/original${t.cast[i-1].profile_path}')`;

                                    }
                                })     
               
                    
                            iid  = `https://image.tmdb.org/t/p/original${res.results[0].backdrop_path}`;
                            console.log(iid);
                          
                            if(res.results[0].media_type.localeCompare('movie')===0){
                            
                            fetch(`https://api.themoviedb.org/3/movie/${res.results[0].id}/videos?api_key=<%= key %>&language=en-US`)
                            .then(response => response.json())
                            .then(function (data){
                                if(data.results[0])
                                {
                                    vid = data.results[0].key;
                                    console.log(vid);
                                }
                                else{
                                    vid = undefined;
                                }
                                
                               if(vid){
                                if (vid ===''){
                                    document.querySelector('iframe').style.display="none";
                                    document.querySelector('.alt').style.display="block"; 
                                }
                                else{
                                    document.querySelector('iframe').setAttribute('src','https://www.youtube.com/embed/'+vid);
                                    document.querySelector('iframe').style.display="block";
                                    document.querySelector('.alt').style.display="none"; 
                                }
                               }
                               else{
                                    document.querySelector('iframe').style.display="none";
                                    document.querySelector('.alt').style.display="block"; 
                                    
                               }
                                
                            
                                
                            });

                                fetch(`https://api.themoviedb.org/3/movie/${res.results[0].id}?api_key=<%= key %>&language=en-US`)
                                .then(response => response.json()
                                .then(
                                    function(x){
                                        document.getElementById('movie').innerText=x.title;
                            document.getElementById('mname').innerText=x.title;
                            document.getElementsByClassName('heading')[0].innerText=x.title;
                            document.getElementById('release').innerText=formatDate(x.release_date);
                            document.getElementById('rdate').innerText=formatDate(x.release_date);
                            document.getElementById('des').innerText=x.overview;
                            document.querySelector('.pic').style.backgroundImage=`linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url(${iid})`;
                            document.getElementById('genres').innerText=`${x.genres[0].name} ,${x.genres[1].name} ,${x.genres[2].name} `;
                            document.getElementById('runtime').innerText=x.runtime;
                           document.getElementById('rating').innerText=x.vote_average +" / 10";
                                    }
                                )).catch(error=>console.log(error))
                                
                            
                            }
                            else{

                                fetch(`https://api.themoviedb.org/3/tv/${res.results[0].id}/credits?api_key=<%= key %>&language=en-US`)
                                .then(response=>response.json())
                                .then(function(t){
                                    console.log(res.results[0].id);
                                    for(let i=1;i<=4;i++)
                                    {
                                        document.getElementById(`name${i}`).innerText=`${t.cast[i-1].name} AS ${t.cast[i-1].character}`;
                                        document.getElementById(`card${i}`).style.backgroundImage= `linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url('https://image.tmdb.org/t/p/original${t.cast[i-1].profile_path}')`;

                                    }
                                })                                

                                fetch(`https://api.themoviedb.org/3/tv/${res.results[0].id}/videos?api_key=<%= key %>&language=en-US`)
                            .then(response => response.json())
                            .then(function (data){
                                vid = data.results[0].key;
                                if (vid ===''){
                                    document.querySelector('iframe').setAttribute('src','https://www.youtube.com/'); 
                                    document.querySelector('iframe').style.display="block";
                                }
                                else{
                                    console.log('vid : ' + vid);
                            
                                    document.querySelector('iframe').setAttribute('src','https://www.youtube.com/embed/'+vid);
                                    document.querySelector('iframe').style.display="block";
                                }
                                
                            
                                
                            });
                                
                                fetch(`https://api.themoviedb.org/3/tv/${res.results[0].id}?api_key=<%= key %>&language=en-US`)
                                .then(response => response.json()
                                .then(
                                    function(x){
                                        document.getElementById('movie').innerText=x.name;
                            document.getElementById('mname').innerText=x.name;
                            document.getElementsByClassName('heading')[0].innerText=x.name;
                            document.getElementById('release').innerText=formatDate(x.first_air_date);
                            document.getElementById('rdate').innerText=formatDate(x.first_air_date);

                                        
                            document.getElementById('des').innerText=x.overview;
                            document.querySelector('.pic').style.backgroundImage=`linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url(${iid})`;
                            document.getElementById('runtime').innerText=x.runtime;           
                            document.getElementById('runtime').innerText=x.runtime;
                           document.getElementById('rating').innerText=x.vote_average +" / 10";
                                    }
                                )).catch(error=>console.log(error))
                              
                            }
                            
                            
                            
                            // document.getElementById('des').innerText=result.plot;
                            
                        })
                        .catch(error => console.log('error', error));
             }
                    

                   
                
</script>


<script>


    function clck(){
        var flag = document.querySelector('.more').innerHTML;
        if(flag === 'LESS'){
            async function f() {
                document.querySelector('.net').innerHTML='read more';
                document.querySelector('.content').display="block";
                document.querySelector('.more').innerHTML='MORE';
                document.querySelector('.net').disabled=true;
                document.querySelector('.foot1').disabled=true;
               $('html,body').animate({ scrollTop: 0}, 1000);


            let promise = new Promise((resolve, reject) => {

                setTimeout(() => resolve("done!"), 1000)
            });

            let result = await promise; 
            document.querySelector('.net').disabled=false;
            document.querySelector('.foot1').disabled=false;
            document.querySelector('.pic1').style.display="none";
            
            }

            f();           
        }
        else{
            document.querySelector('.pic1').style.display="block";
            document.querySelector('.more').innerHTML='LESS';
            document.querySelector('.net').innerHTML='read less';
            document.querySelector('.content').display="none";
            $('html,body').animate({ scrollTop: $(document).height() }, 1000);
        }
        
    }

   
    document.addEventListener('scroll', () => {
    var content = document.querySelector('.content');
    var image = document.querySelector('.pic');
    var scroll_position = window.scrollY;

    if (scroll_position >390) {
      content.style.backgroundColor="#1b1b1b";
      content.style.transition='0.4s';
      document.querySelector('.des').style.opacity="0.9";
      document.querySelector('.cast').style.opacity="0.9";
      document.querySelector('.cast').style.transition='0.4s';
      document.querySelector('.des').style.transition='0.4s';
      document.querySelector('#card1').style.opacity="0.9";
      document.querySelector('#card2').style.opacity="0.9";
      document.querySelector('#card3').style.opacity="0.9";
      document.querySelector('#card4').style.opacity="0.9";
      document.querySelector('#card1').style.transition='1s';
      document.querySelector('#card2').style.transition='2.5s';
      document.querySelector('#card3').style.transition='4s';
      document.querySelector('#card4').style.transition='5.5s';
    } 

    else if (scroll_position >20){
        image.style.backgroundPosition="100% 50%";
        image.style.transition='0.4s';
    }

    else {
        image.style.backgroundPosition="50% 50%";
        content.style.backgroundColor="#0a0a0a";
        content.style.transition='0.4s';
        image.style.transition='0.4s';
        document.querySelector('.des').style.opacity="0";
        document.querySelector('.des').style.transition='0.4s';
        document.querySelector('.cast').style.opacity="0";
        document.querySelector('.cast').style.transition='0.4s';
        document.querySelector('#card1').style.opacity="0";
        document.querySelector('#card2').style.opacity="0";
        document.querySelector('#card3').style.opacity="0";
        document.querySelector('#card4').style.opacity="0";
        document.querySelector('#card1').style.transition='0.4s';
        document.querySelector('#card2').style.transition='0.4s';
        document.querySelector('#card3').style.transition='0.4s';
        document.querySelector('#card4').style.transition='0.4s';
    }
    
  });
</script>
</html>
