<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See what's trending</title>
    <link rel="stylesheet" href="/css/trending.css">
    <link rel="icon" type="image/svg" href="https://res.cloudinary.com/dsi0a9weg/image/upload/v1607632566/icon_oqz5n8.png">
    <!-- Resource hints for faster image loading -->
    <link rel="dns-prefetch" href="//image.tmdb.org">
    <link rel="preconnect" href="https://image.tmdb.org" crossorigin>
   
</head>
<body  onkeydown="data()" id='bodyi' onload="initial()" style="visibility: visible;">
    <div id="loader" class="center"></div> 
    <div class="pic" >
        <div class="head">
            <span class="heading">trending &nbsp;</span><span class="line">| &nbsp;</span><span class="brand" style="display: none;"></span>
            <div ></div>
        </div>
        
        <h2 id="rdate" style="text-transform: uppercase;">press down arrow to reveal top 20 trending movies / tv-shows </h2>
        <h1 id="mname" style="text-transform: uppercase;">trending</h1>
        <p class="trendnumber">1</p>
        
        <p id="cont">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis aliquid quos quisquam odit illo alias? Porro recusandae eius facere harum fuga nostrum excepturi modi neque, et quas rerum minus molestiae!</p>
        <button class="foot1" onclick="clck()" disabled=true style="opacity: 0.01;">
            <span class="foote">read &nbsp;</span><span class="more">more</span>
        </button>
        <button class="nextm" onclick="data()">
            <span>NEXT</span>
        </button>
        <ul>
            <a href="/" style="text-decoration: none;"><li>HOME &nbsp;&nbsp;</li></a>
            <li onclick="droplist()">GENRE &nbsp;&nbsp;</li>
            <a href="/trending"><li style="color: #b6362d;">TRENDING &nbsp;&nbsp;</li></a>
            <a href="/search"><li >SEARCH</li></a>
        </ul>
        <div class="dropdown" >
            <a href="/genre?id=28" class="droplink">ACTION</a><br>
            <a href="/genre?id=12" class="droplink">ADVENTURE</a><br>
            <a href="/genre?id=16" class="droplink">ANIMATION</a><br>
            <a href="/genre?id=35" class="droplink">comedy</a><br>
            <a href="/genre?id=80" class="droplink">crime</a><br>
            <a href="/genre?id=99" class="droplink">documentary</a><br>
            <a href="/genre?id=18" class="droplink">drama</a><br>
            <a href="/genre?id=10751" class="droplink">family</a><br>
            <a href="/genre?id=14" class="droplink">fantasy</a><br>
            <a href="/genre?id=36" class="droplink">history</a><br>
            <a href="/genre?id=27" class="droplink">horror</a><br>
            <a href="/genre?id=10402" class="droplink">music</a><br>
            <a href="/genre?id=9648" class="droplink">mystery</a><br>
            <a href="/genre?id=10749" class="droplink">romance</a><br>
            <a href="/genre?id=878" class="droplink">science fiction</a><br>
            <a href="/genre?id=10770" class="droplink">tv movie</a><br>
            <a href="/genre?id=53" class="droplink">thriller</a><br>
            <a href="/genre?id=10752" class="droplink">war</a><br>
            <a href="/genre?id=37" class="droplink">western</a><br>

        </div>
        
            <div class="circle"></div>
               
            </div>
        
    </div>
    <div class="pic1">
        <p class="des" id="des">Forever alone in a crowd, failed comedian Arthur Fleck seeks connection as he walks the streets of Gotham City. Arthur wears two masks -- the one he paints for his day job as a clown, and the guise he projects in a futile attempt to feel like he's part of the world around him.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis laboriosam consequuntur similique deleniti iusto quasi sint placeat suscipit enim molestias tempora aliquam, obcaecati incidunt explicabo non cum delectus reiciendis ex.
        </p>
        <div class="cast" >
            <span class="lead">LEAD &nbsp;</span><span class="cast1">CAST</span>
        </div><br><br>
        <div class="actors">
            <div class="card" id="card1" data-lazy="true"><p id="name1">Joaquin Phoneix</p></div>
            <div class="card" id="card2" data-lazy="true"><p id="name2">Joaquin Phoneix</p></div>
            <div class="card" id="card3" data-lazy="true"><p id="name3">Joaquin Phoneix</p></div>
            <div class="card" id="card4" data-lazy="true"><p id="name4">Joaquin Phoneix</p></div>
        </div>
    </div>

    <div class="content">
        <a href="/" id='logo'><img src="/assets/logo.png" alt=""></a>
        <div class="watch">trending</div>
        <div class="info" style="display: none;">
            <span class="tit">name : &nbsp;</span><span style="font-weight: 200 ; font-size: 80%;" id="movie" ></span><br>
            <!-- <span class="tit">runtime : &nbsp;</span><span style="font-weight: 200;font-size: 80%;" id="runtime"></span><br> -->
            <span class="tit">release date : &nbsp;</span><span style="font-weight: 200;font-size: 80%;" id="release"></span><br>
            <span class="tit">popularity : &nbsp;</span><span style="font-weight: 200;font-size: 80%;" id="pop"></span><br>
            <span class="tit">media type : &nbsp;</span><span style="font-weight: 200;font-size: 80%;" id="media"></span><br>
            <span class="tit">imdb : &nbsp;</span><span style="font-weight: 200;font-size: 80%;" id="rating"></span><br>
        </div>
        <p class="pcon">Discover the top trending movies & tv shows of this week Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eius delectus dolore eum architecto velit assumenda dolores veniam eos, aliquam fugit eaque cupiditate voluptatem voluptates, aliquid, quas libero quidem expedita.</p>
        
        <iframe src="https://www.youtube.com/embed/" style="display: none;"></iframe>
        <button class="net" style="display: none;" onclick="data()">Next Result</button>
        <div class="prime">watch on prime</div>
    </div>
    <!-- <div class="cursor"></div> -->
</body>

<script>
    // Image lazy loading with Intersection Observer API
    let imageObserver;
    function initImageLazyLoading() {
        const options = {
            root: null,
            rootMargin: '50px', // Load images 50px before they become visible
            threshold: 0.01
        };

        imageObserver = new IntersectionObserver(function(entries) {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    const element = entry.target;
                    if (element.dataset.backgroundImage) {
                        // For background images, load them before applying
                        const img = new Image();
                        img.onload = () => {
                            element.style.backgroundImage = element.dataset.backgroundImage;
                            element.removeAttribute('data-lazy');
                        };
                        img.onerror = () => {
                            // Fallback if image fails
                            element.style.backgroundImage = element.dataset.backgroundImage;
                            element.removeAttribute('data-lazy');
                        };
                        img.src = element.dataset.backgroundImage.match(/url\('([^']+)'\)/)[1];
                    }
                    imageObserver.unobserve(element);
                }
            });
        }, options);
    }

    document.onreadystatechange = function() { 
    if (document.readyState !== "complete") { 
        document.querySelector("body").style.visibility = "hidden"; 
        document.querySelector("#loader").style.visibility = "visible"; 
          
    } else { 
        setTimeout(() => {
            console.log('waiting');
            document.querySelector("#loader").style.visibility = "hidden";         
              document.querySelector("body").style.visibility = "visible";
            initImageLazyLoading();
        }, 1000);
        
    } 
}; 
</script>


<script>
    function initial(){
        var index = Math.floor(Math.random()*20);
    
        fetch('https://api.themoviedb.org/3/trending/all/day?api_key=<%= key %>')
        .then(response =>response.json() )
        .then(function (data){
            var image = `https://image.tmdb.org/t/p/original${data.results[index].backdrop_path}`;
            // Preload the hero image for immediate visibility
            var img = new Image();
            img.onload = function() {
                document.querySelector('.pic').style.backgroundImage=`linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url(${image})`;
            };
            img.src = image;
        }).catch(error => console.log('Error loading initial image:', error));

    };
</script>

<script>
     function formatDate(d) 
        {
          var date = new Date(d);

         if ( isNaN( date .getTime() ) ) 
         {
            return d;
         }
         else
        {
          
          var month = new Array();
          month[0] = "Jan";
          month[1] = "Feb";
          month[2] = "Mar";
          month[3] = "Apr";
          month[4] = "May";
          month[5] = "Jun";
          month[6] = "Jul";
          month[7] = "Aug";
          month[8] = "Sept";
          month[9] = "Oct";
          month[10] = "Nov";
          month[11] = "Dec";

          day = date.getDate();
          
          if(day < 10)
          {
             day = "0"+day;
          }
          
          return    day  + " " +month[date.getMonth()] + " " + date.getFullYear();
          }
            
         }

    function droplist(){
        var drop = document.querySelector('.dropdown');
        var style = window.getComputedStyle(drop);
        var val = style.getPropertyValue('display');
        console.log(val);
        if(val === 'none'){
            drop.style.display="block";
        }
        else{
            drop.style.display="none";
        }
    }
    document.querySelector('body').onkeydown=function (e){
        if(e.keyCode === 39 || e.keyCode === 40){
            data();
        }
    };

    function data(){

        var drop = document.querySelector('.dropdown');
        var style = window.getComputedStyle(drop);
        var val = style.getPropertyValue('display');
        console.log('value :' + val);
        

        if (val === 'block'){
            return;
        }
        else{
            var flag= '';
        flag = document.querySelector('.more').innerText;
        console.log('flag : ' + flag);
        if(flag ==='LESS'){
            return;
            
        } 
        else if(flag ==='MORE'){
        
       
        var ans=0
        document.querySelector('.trendnumber').style.color="ffffff";
        document.querySelector('.foot1').disabled=false;
        
        document.querySelector('.foot1').style.opacity=1;
        document.querySelector('.foot1').style.cursor='pointer';
        document.querySelector('.pcon').style.display='none';
        
        document.querySelector('.info').style.display='block';
        document.querySelector('.trendnumber').style.borderColor="ffffff";
        document.querySelector('iframe').style.display="block";
        document.querySelector('.net').style.display="block";
        ans= document.querySelector('.trendnumber').innerText;
        console.log('ans :' +ans);
                    var array=[];
                    var idarray= [];
                    fetch('https://api.themoviedb.org/3/trending/all/day?api_key=<%= key %>')
                    .then(response =>response.json() )
                    .then(function (data){
                     
                        for(var i=0;i< 20;i++){
                            var type =data.results[i].media_type;
                            console.log(type);
                            if(type ==='tv'){
                                var item = data.results[i].original_name;
                                var id = data.results[i].id;
                            }
                            else{
                                var item = data.results[i].original_title;
                                var id = data.results[i].id;
                            }
                            
                           
                            array.push(item);
                            idarray.push(id);
                        }

                    var vid ='';
                    var imga='';                   

                    fetch(`https://api.themoviedb.org/3/search/multi?api_key=<%= key %>&query=${array[ans-1]}&page=1&include_adult=false`)
            .then(response => response.json())
            .then(
             function(res){
               
                    
                            iid  = `https://image.tmdb.org/t/p/original${res.results[0].backdrop_path}`;
                            console.log(iid);
                            document.getElementById('des').innerText=res.results[0].overview;
                            if(res.results[0].media_type.localeCompare('movie')===0){ // for movvie

                                fetch(`https://api.themoviedb.org/3/movie/${res.results[0].id}/credits?api_key=<%= key %>&language=en-US`)
                                .then(response=>response.json())
                                .then(function(t){
                                    for(let i=1;i<=4;i++)
                                    {
                                        document.getElementById(`name${i}`).innerText=`${t.cast[i-1].name} AS ${t.cast[i-1].character}`;
                                        const bgImageUrl = `linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url('https://image.tmdb.org/t/p/original${t.cast[i-1].profile_path}')`;
                                        const cardElement = document.getElementById(`card${i}`);
                                        if (cardElement.getAttribute('data-lazy')) {
                                            // For lazy loaded images, store the background image and let observer handle it
                                            cardElement.dataset.backgroundImage = bgImageUrl;
                                            if (imageObserver) imageObserver.observe(cardElement);
                                        } else {
                                            // Fallback: set directly if observer not ready
                                            cardElement.style.backgroundImage = bgImageUrl;
                                        }
                                    }
                                })

                                fetch(`https://api.themoviedb.org/3/movie/${res.results[0].id}/videos?api_key=<%= key %>&language=en-US`)
                            .then(response => response.json())
                            .then(function (data){
                                vid = data.results[0].key;
                                if (vid ===''){
                                    document.querySelector('iframe').setAttribute('src','https://www.youtube.com/'); 
                                }
                                else{
                                    console.log('vid : ' + vid);
                            
                                    document.querySelector('iframe').setAttribute('src','https://www.youtube.com/embed/'+vid);
                                }
                                
                            
                                
                            });
                            
                            document.getElementById('movie').innerText=res.results[0].title;
                            document.getElementById('mname').innerText=res.results[0].title;
                            document.getElementsByClassName('heading')[0].innerText=res.results[0].title;
                            document.getElementById('release').innerText=formatDate(res.results[0].release_date);
                            document.getElementById('rdate').innerText=formatDate(res.results[0].release_date);
                       
                            }
                            else{ // for tv
                                fetch(`https://api.themoviedb.org/3/tv/${res.results[0].id}/credits?api_key=<%= key %>&language=en-US`)
                                .then(response=>response.json())
                                .then(function(t){
                                    for(let i=1;i<=4;i++)
                                    {
                                        document.getElementById(`name${i}`).innerText=`${t.cast[i-1].name} AS ${t.cast[i-1].character}`;
                                        const bgImageUrl = `linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url('https://image.tmdb.org/t/p/original${t.cast[i-1].profile_path}')`;
                                        const cardElement = document.getElementById(`card${i}`);
                                        if (cardElement.getAttribute('data-lazy')) {
                                            // For lazy loaded images, store the background image and let observer handle it
                                            cardElement.dataset.backgroundImage = bgImageUrl;
                                            if (imageObserver) imageObserver.observe(cardElement);
                                        } else {
                                            // Fallback: set directly if observer not ready
                                            cardElement.style.backgroundImage = bgImageUrl;
                                        }
                                    }
                                })
                                fetch(`https://api.themoviedb.org/3/tv/${res.results[0].id}/videos?api_key=<%= key %>&language=en-US`)
                            .then(response => response.json())
                            .then(function (data){
                                vid = data.results[0].key;
                                if (vid ===''){
                                    document.querySelector('iframe').setAttribute('src','https://www.youtube.com/'); 
                                }
                                else{
                                    console.log('vid : ' + vid);
                            
                                    document.querySelector('iframe').setAttribute('src','https://www.youtube.com/embed/'+vid);
                                }
                                
                            
                                
                            });
                                document.getElementById('movie').innerText=res.results[0].name;
                            document.getElementById('mname').innerText=res.results[0].name;
                            document.getElementsByClassName('heading')[0].innerText=res.results[0].name;
                            document.getElementById('release').innerText=formatDate(res.results[0].first_air_date);
                            document.getElementById('rdate').innerText=formatDate(res.results[0].first_air_date);
                            }
                            
                            
                             document.querySelector('.pic').style.backgroundImage=`linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url(${iid})`;
                           
                             document.getElementById('pop').innerText=res.results[0].popularity;
                             document.getElementById('media').innerText=res.results[0].media_type;
                            document.getElementById('rating').innerText=res.results[0].vote_average +" / 10";
                            // document.getElementById('des').innerText=result.plot;
                            
                        })
                        .catch(error => console.log('error', error));


                    
                    if(ans >= array.length){
                        document.querySelector('.trendnumber').innerText=Number('1') ;
                    }
                    else{
                        document.querySelector('.trendnumber').innerText=Number(ans)+ 1 ;
                        
                    }
                    });// then ends here
                              
        }
                      
        }

            //         var myHeaders = new Headers();
            // myHeaders.append("x-rapidapi-key", "18fbb309efmshfe01f93d20cb9c4p127560jsn4f265c06e2ff");
            // myHeaders.append("x-rapidapi-host", "imdb-internet-movie-database-unofficial.p.rapidapi.com");

            // var requestOptions = {
            // method: 'GET',
            // headers: myHeaders,
            // redirect: 'follow'
            // };

            // fetch("https://imdb-internet-movie-database-unofficial.p.rapidapi.com/search/"+ans, requestOptions)
            // .then(response => response.json())
            // .then(
            //  function(res){
            //      var id=res.titles[0].id;
            //                             var myHeaders = new Headers();
            //             myHeaders.append("x-rapidapi-key", "18fbb309efmshfe01f93d20cb9c4p127560jsn4f265c06e2ff");
            //             myHeaders.append("x-rapidapi-host", "imdb-internet-movie-database-unofficial.p.rapidapi.com");

            //             var requestOptions = {
            //             method: 'GET',
            //             headers: myHeaders,
            //             redirect: 'follow'
            //             };

            //             fetch("https://imdb-internet-movie-database-unofficial.p.rapidapi.com/film/"+id, requestOptions)
            //             .then(response => response.json())
            //             .then(result => {
            //                 // document.getElementById('movie').innerText=result.title;
            //                 // document.getElementById('mname').innerText=result.title;
            //                 // document.getElementsByClassName('heading')[0].innerText=result.title;
            //                 document.getElementById('runtime').innerText=result.length;
            //                 document.getElementById('release').innerText=result.year;
            //                 document.getElementById('rdate').innerText=result.year;
            //                 document.getElementById('rating').innerText=result.rating +" / 10";
            //                 // document.getElementById('des').innerText=result.plot;
                            
            //             })
            //             .catch(error => console.log('error', error));
            //  }
            //  )
            // .catch(error => console.log('error', error));
                    

                    var platform ='netflix';
                    if (platform === 'prime' || platform === 'Prime' || platform === 'PRIME'){
                        document.querySelector('.net').style.display='none';
                        document.querySelector('.prime').style.display='block';
                        document.querySelector('.brand').style.backgroundImage="url('/assets/prime.png')";
                       
                    }
                    else{
                        document.querySelector('.net').style.display='block';
                        document.querySelector('.prime').style.display='none';
                        document.querySelector('.brand').style.backgroundImage="url('/assets/netflix.png')";
                    }
                }
                
</script>



<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>


    function clck(){
        var flag = document.querySelector('.more').innerHTML;
        if(flag === 'LESS'){
            document.querySelector('.net').disabled=false;
            async function f() {
                document.querySelector('.content').display="block";
                // document.querySelector('.pic1').style.transition="0.4s";
                document.querySelector('.more').innerHTML='MORE';
                // document.querySelector('.content').style.transition="0.4s";
                document.querySelector('.nextm').style.opacity=1;
                document.querySelector('.foot1').disabled=true;
                // document.querySelector('.nextm').style.transition="0.4s";
               $('html,body').animate({ scrollTop: 0}, 1000);


            let promise = new Promise((resolve, reject) => {

                setTimeout(() => resolve("done!"), 1000)
            });

            let result = await promise; 
            document.querySelector('.foot1').disabled=false;
            document.querySelector('.pic1').style.display="none";
            
            }

            f();
               
        }
        else{
            document.querySelector('.net').disabled=true;
            document.querySelector('.pic1').style.display="block";
            // document.querySelector('.pic1').style.transition="0.4s";
            document.querySelector('.more').innerHTML='LESS';
            document.querySelector('.content').display="none";
            // document.querySelector('.content').style.transition="0.4s";
            document.querySelector('.nextm').style.opacity=0.01;
            // document.querySelector('.nextm').style.transition="0.4s";
            $('html,body').animate({ scrollTop: $(document).height() }, 1000);
            // window.scrollTo({top: $(document).height(), behavior: 'smooth'});
        }
        
    }

   
    document.addEventListener('scroll', () => {
    var content = document.querySelector('.content');
    var image = document.querySelector('.pic');
    var scroll_position = window.scrollY;

    if (scroll_position >390) {
      content.style.backgroundColor="#1b1b1b";
      content.style.transition='0.4s';
      document.querySelector('.des').style.opacity="0.9";
      document.querySelector('.cast').style.opacity="0.9";
      document.querySelector('.cast').style.transition='0.4s';
      document.querySelector('.des').style.transition='0.4s';
      document.querySelector('#card1').style.opacity="0.9";
      document.querySelector('#card2').style.opacity="0.9";
      document.querySelector('#card3').style.opacity="0.9";
      document.querySelector('#card4').style.opacity="0.9";
      document.querySelector('#card1').style.transition='1s';
      document.querySelector('#card2').style.transition='2.5s';
      document.querySelector('#card3').style.transition='4s';
      document.querySelector('#card4').style.transition='5.5s';
    } 

    else if (scroll_position >20){
        image.style.backgroundPosition="100% 50%";
        image.style.transition='0.4s';
    }

    else {
        image.style.backgroundPosition="50% 50%";
        content.style.backgroundColor="#0a0a0a";
        content.style.transition='0.4s';
        image.style.transition='0.4s';
        document.querySelector('.des').style.opacity="0";
        document.querySelector('.des').style.transition='0.4s';
        document.querySelector('.cast').style.opacity="0";
        document.querySelector('.cast').style.transition='0.4s';
        document.querySelector('#card1').style.opacity="0";
        document.querySelector('#card2').style.opacity="0";
        document.querySelector('#card3').style.opacity="0";
        document.querySelector('#card4').style.opacity="0";
        document.querySelector('#card1').style.transition='0.4s';
        document.querySelector('#card2').style.transition='0.4s';
        document.querySelector('#card3').style.transition='0.4s';
        document.querySelector('#card4').style.transition='0.4s';
    }
    
  });
</script>
</html>
