<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See what's trending</title>
    <meta name="description" content="Discover the top trending movies and TV shows of the week">
    <!-- Preload critical resources -->
    <link rel="preload" as="style" href="/css/trending.css">
    <!-- DNS prefetch for external APIs -->
    <link rel="dns-prefetch" href="https://api.themoviedb.org">
    <link rel="dns-prefetch" href="https://image.tmdb.org">
    <link rel="dns-prefetch" href="https://www.youtube.com">
    <!-- Preconnect for faster connections -->
    <link rel="preconnect" href="https://api.themoviedb.org">
    <link rel="preconnect" href="https://image.tmdb.org">
    <!-- Load fonts with swap strategy for better FCP -->
    <link rel="stylesheet" href="/css/trending.css">
    <link rel="icon" type="image/svg" href="https://res.cloudinary.com/dsi0a9weg/image/upload/v1607632566/icon_oqz5n8.png">
   
</head>
<body  onkeydown="data()" id='bodyi' onload="initial()" style="visibility: visible;">
    <div id="loader" class="center"></div> 
    <div class="pic" >
        <div class="head">
            <span class="heading">trending &nbsp;</span><span class="line">| &nbsp;</span><span class="brand" style="display: none;"></span>
            <div ></div>
        </div>
        
        <h2 id="rdate" style="text-transform: uppercase;">press down arrow to reveal top 20 trending movies / tv-shows </h2>
        <h1 id="mname" style="text-transform: uppercase;">trending</h1>
        <p class="trendnumber">1</p>
        
        <p id="cont">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis aliquid quos quisquam odit illo alias? Porro recusandae eius facere harum fuga nostrum excepturi modi neque, et quas rerum minus molestiae!</p>
        <button class="foot1" onclick="clck()" disabled=true style="opacity: 0.01;">
            <span class="foote">read &nbsp;</span><span class="more">more</span>
        </button>
        <button class="nextm" onclick="data()">
            <span>NEXT</span>
        </button>
        <ul>
            <a href="/" style="text-decoration: none;"><li>HOME &nbsp;&nbsp;</li></a>
            <li onclick="droplist()">GENRE &nbsp;&nbsp;</li>
            <a href="/trending"><li style="color: #b6362d;">TRENDING &nbsp;&nbsp;</li></a>
            <a href="/search"><li >SEARCH</li></a>
        </ul>
        <div class="dropdown" >
            <a href="/genre?id=28" class="droplink">ACTION</a><br>
            <a href="/genre?id=12" class="droplink">ADVENTURE</a><br>
            <a href="/genre?id=16" class="droplink">ANIMATION</a><br>
            <a href="/genre?id=35" class="droplink">comedy</a><br>
            <a href="/genre?id=80" class="droplink">crime</a><br>
            <a href="/genre?id=99" class="droplink">documentary</a><br>
            <a href="/genre?id=18" class="droplink">drama</a><br>
            <a href="/genre?id=10751" class="droplink">family</a><br>
            <a href="/genre?id=14" class="droplink">fantasy</a><br>
            <a href="/genre?id=36" class="droplink">history</a><br>
            <a href="/genre?id=27" class="droplink">horror</a><br>
            <a href="/genre?id=10402" class="droplink">music</a><br>
            <a href="/genre?id=9648" class="droplink">mystery</a><br>
            <a href="/genre?id=10749" class="droplink">romance</a><br>
            <a href="/genre?id=878" class="droplink">science fiction</a><br>
            <a href="/genre?id=10770" class="droplink">tv movie</a><br>
            <a href="/genre?id=53" class="droplink">thriller</a><br>
            <a href="/genre?id=10752" class="droplink">war</a><br>
            <a href="/genre?id=37" class="droplink">western</a><br>

        </div>
        
            <div class="circle"></div>
               
            </div>
        
    </div>
    <div class="pic1">
        <p class="des" id="des">Forever alone in a crowd, failed comedian Arthur Fleck seeks connection as he walks the streets of Gotham City. Arthur wears two masks -- the one he paints for his day job as a clown, and the guise he projects in a futile attempt to feel like he's part of the world around him.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis laboriosam consequuntur similique deleniti iusto quasi sint placeat suscipit enim molestias tempora aliquam, obcaecati incidunt explicabo non cum delectus reiciendis ex.
        </p>
        <div class="cast" >
            <span class="lead">LEAD &nbsp;</span><span class="cast1">CAST</span>
        </div><br><br>
        <div class="actors">
            <div class="card" id="card1"><p id="name1">Joaquin Phoneix</p></div>
            <div class="card" id="card2"><p id="name2">Joaquin Phoneix</p></div>
            <div class="card" id="card3"><p id="name3">Joaquin Phoneix</p></div>
            <div class="card" id="card4"><p id="name4">Joaquin Phoneix</p></div>
        </div>
    </div>

    <div class="content">
        <a href="/" id='logo'><img src="/assets/logo.png" alt=""></a>
        <div class="watch">trending</div>
        <div class="info" style="display: none;">
            <span class="tit">name : &nbsp;</span><span style="font-weight: 200 ; font-size: 80%;" id="movie" ></span><br>
            <!-- <span class="tit">runtime : &nbsp;</span><span style="font-weight: 200;font-size: 80%;" id="runtime"></span><br> -->
            <span class="tit">release date : &nbsp;</span><span style="font-weight: 200;font-size: 80%;" id="release"></span><br>
            <span class="tit">popularity : &nbsp;</span><span style="font-weight: 200;font-size: 80%;" id="pop"></span><br>
            <span class="tit">media type : &nbsp;</span><span style="font-weight: 200;font-size: 80%;" id="media"></span><br>
            <span class="tit">imdb : &nbsp;</span><span style="font-weight: 200;font-size: 80%;" id="rating"></span><br>
        </div>
        <p class="pcon">Discover the top trending movies & tv shows of this week Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eius delectus dolore eum architecto velit assumenda dolores veniam eos, aliquam fugit eaque cupiditate voluptatem voluptates, aliquid, quas libero quidem expedita.</p>
        
        <iframe src="https://www.youtube.com/embed/" style="display: none;"></iframe>
        <button class="net" style="display: none;" onclick="data()">Next Result</button>
        <div class="prime">watch on prime</div>
    </div>
    <!-- <div class="cursor"></div> -->
</body>

<script defer>
    document.onreadystatechange = function() { 
    if (document.readyState !== "complete") { 
        document.querySelector("body").style.visibility = "hidden"; 
        document.querySelector("#loader").style.visibility = "visible"; 
          
    } else { 
        setTimeout(() => {
            console.log('waiting');
            document.querySelector("#loader").style.visibility = "hidden";         
              document.querySelector("body").style.visibility = "visible";
        }, 800); // Reduced from 1000 to 800ms
        
    } 
}; 
</script>


<script defer>
    function initial(){
        var index = Math.floor(Math.random()*20);
    
        fetch('https://api.themoviedb.org/3/trending/all/day?api_key=<%= key %>')
        .then(response =>response.json() )
        .then(function (data){
            // Use w780 instead of original for better performance (up to 98% smaller)
            var image = `https://image.tmdb.org/t/p/w780${data.results[index].backdrop_path}`;
            // Preload image before setting as background
            var img = new Image();
            img.onload = function() {
                document.querySelector('.pic').style.backgroundImage=`linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url(${image})`;
            };
            img.src = image;
        });

    };
</script>

<script defer>
    function formatDate(d) 
        {
          var date = new Date(d);

         if ( isNaN( date .getTime() ) ) 
         {
            return d;
         }
         else
        {
          
          var month = new Array();
          month[0] = "Jan";
          month[1] = "Feb";
          month[2] = "Mar";
          month[3] = "Apr";
          month[4] = "May";
          month[5] = "Jun";
          month[6] = "Jul";
          month[7] = "Aug";
          month[8] = "Sept";
          month[9] = "Oct";
          month[10] = "Nov";
          month[11] = "Dec";

          day = date.getDate();
          
          if(day < 10)
          {
             day = "0"+day;
          }
          
          return    day  + " " +month[date.getMonth()] + " " + date.getFullYear();
          }
            
         }

    function droplist(){
        var drop = document.querySelector('.dropdown');
        var style = window.getComputedStyle(drop);
        var val = style.getPropertyValue('display');
        console.log(val);
        if(val === 'none'){
            drop.style.display="block";
        }
        else{
            drop.style.display="none";
        }
    }
    document.querySelector('body').onkeydown=function (e){
        if(e.keyCode === 39 || e.keyCode === 40){
            data();
        }
    };

    function data(){

        var drop = document.querySelector('.dropdown');
        var style = window.getComputedStyle(drop);
        var val = style.getPropertyValue('display');
        console.log('value :' + val);
        

        if (val === 'block'){
            return;
        }
        else{
            var flag= '';
        flag = document.querySelector('.more').innerText;
        console.log('flag : ' + flag);
        if(flag ==='LESS'){
            return;
            
        } 
        else if(flag ==='MORE'){
        
       
        var ans=0
        document.querySelector('.trendnumber').style.color="ffffff";
        document.querySelector('.foot1').disabled=false;
        
        document.querySelector('.foot1').style.opacity=1;
        document.querySelector('.foot1').style.cursor='pointer';
        document.querySelector('.pcon').style.display='none';
        
        document.querySelector('.info').style.display='block';
        document.querySelector('.trendnumber').style.borderColor="ffffff";
        document.querySelector('iframe').style.display="block";
        document.querySelector('.net').style.display="block";
        ans= document.querySelector('.trendnumber').innerText;
        console.log('ans :' +ans);
                    var array=[];
                    var idarray= [];
                    fetch('https://api.themoviedb.org/3/trending/all/day?api_key=<%= key %>')
                    .then(response =>response.json() )
                    .then(function (data){
                     
                        for(var i=0;i< 20;i++){
                            var type =data.results[i].media_type;
                            console.log(type);
                            if(type ==='tv'){
                                var item = data.results[i].original_name;
                                var id = data.results[i].id;
                            }
                            else{
                                var item = data.results[i].original_title;
                                var id = data.results[i].id;
                            }
                            
                           
                            array.push(item);
                            idarray.push(id);
                        }

                    var vid ='';
                    var imga='';                   

                    fetch(`https://api.themoviedb.org/3/search/multi?api_key=<%= key %>&query=${array[ans-1]}&page=1&include_adult=false`)
            .then(response => response.json())
            .then(
             function(res){
               
                    
                            iid  = `https://image.tmdb.org/t/p/w780${res.results[0].backdrop_path}`;
                            console.log(iid);
                            document.getElementById('des').innerText=res.results[0].overview;
                            if(res.results[0].media_type.localeCompare('movie')===0){ // for movvie

                                fetch(`https://api.themoviedb.org/3/movie/${res.results[0].id}/credits?api_key=<%= key %>&language=en-US`)
                                .then(response=>response.json())
                                .then(function(t){
                                    for(let i=1;i<=4;i++)
                                    {
                                        document.getElementById(`name${i}`).innerText=`${t.cast[i-1].name} AS ${t.cast[i-1].character}`;
                                        // Use w342 instead of original for profile images (significantly smaller)
                                        var profileImg = `https://image.tmdb.org/t/p/w342${t.cast[i-1].profile_path}`;
                                        document.getElementById(`card${i}`).style.backgroundImage= `linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url('${profileImg}')`;
                                    }
                                })

                                fetch(`https://api.themoviedb.org/3/movie/${res.results[0].id}/videos?api_key=<%= key %>&language=en-US`)
                            .then(response => response.json())
                            .then(function (data){
                                vid = data.results[0].key;
                                if (vid ===''){
                                    document.querySelector('iframe').setAttribute('src','https://www.youtube.com/'); 
                                }
                                else{
                                    console.log('vid : ' + vid);
                            
                                    document.querySelector('iframe').setAttribute('src','https://www.youtube.com/embed/'+vid);
                                }
                                
                            
                                
                            });
                            
                            document.getElementById('movie').innerText=res.results[0].title;
                            document.getElementById('mname').innerText=res.results[0].title;
                            document.getElementsByClassName('heading')[0].innerText=res.results[0].title;
                            document.getElementById('release').innerText=formatDate(res.results[0].release_date);
                            document.getElementById('rdate').innerText=formatDate(res.results[0].release_date);
                       
                            }
                            else{ // for tv
                                fetch(`https://api.themoviedb.org/3/tv/${res.results[0].id}/credits?api_key=<%= key %>&language=en-US`)
                                .then(response=>response.json())
                                .then(function(t){
                                    for(let i=1;i<=4;i++)
                                    {
                                        document.getElementById(`name${i}`).innerText=`${t.cast[i-1].name} AS ${t.cast[i-1].character}`;
                                        // Use w342 instead of original for profile images (significantly smaller)
                                        var profileImg = `https://image.tmdb.org/t/p/w342${t.cast[i-1].profile_path}`;
                                        document.getElementById(`card${i}`).style.backgroundImage= `linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url('${profileImg}')`;
                                    }
                                })
                                fetch(`https://api.themoviedb.org/3/tv/${res.results[0].id}/videos?api_key=<%= key %>&language=en-US`)
                            .then(response => response.json())
                            .then(function (data){
                                vid = data.results[0].key;
                                if (vid ===''){
                                    document.querySelector('iframe').setAttribute('src','https://www.youtube.com/'); 
                                }
                                else{
                                    console.log('vid : ' + vid);
                            
                                    document.querySelector('iframe').setAttribute('src','https://www.youtube.com/embed/'+vid);
                                }
                                
                            
                                
                            });
                                document.getElementById('movie').innerText=res.results[0].name;
                            document.getElementById('mname').innerText=res.results[0].name;
                            document.getElementsByClassName('heading')[0].innerText=res.results[0].name;
                            document.getElementById('release').innerText=formatDate(res.results[0].first_air_date);
                            document.getElementById('rdate').innerText=formatDate(res.results[0].first_air_date);
                            }
                            
                            
                             document.querySelector('.pic').style.backgroundImage=`linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url(${iid})`;
                           
                             document.getElementById('pop').innerText=res.results[0].popularity;
                             document.getElementById('media').innerText=res.results[0].media_type;
                            document.getElementById('rating').innerText=res.results[0].vote_average +" / 10";
                            // document.getElementById('des').innerText=result.plot;
                            
                        })
                        .catch(error => console.log('error', error));


                    
                    if(ans >= array.length){
                        document.querySelector('.trendnumber').innerText=Number('1') ;
                    }
                    else{
                        document.querySelector('.trendnumber').innerText=Number(ans)+ 1 ;
                        
                    }
                    });// then ends here
                              
        }
                      
        }

            //         var myHeaders = new Headers();
            // myHeaders.append("x-rapidapi-key", "18fbb309efmshfe01f93d20cb9c4p127560jsn4f265c06e2ff");
            // myHeaders.append("x-rapidapi-host", "imdb-internet-movie-database-unofficial.p.rapidapi.com");

            // var requestOptions = {
            // method: 'GET',
            // headers: myHeaders,
            // redirect: 'follow'
            // };

            // fetch("https://imdb-internet-movie-database-unofficial.p.rapidapi.com/search/"+ans, requestOptions)
            // .then(response => response.json())
            // .then(
            //  function(res){
            //      var id=res.titles[0].id;
            //                             var myHeaders = new Headers();
            //             myHeaders.append("x-rapidapi-key", "18fbb309efmshfe01f93d20cb9c4p127560jsn4f265c06e2ff");
            //             myHeaders.append("x-rapidapi-host", "imdb-internet-movie-database-unofficial.p.rapidapi.com");

            //             var requestOptions = {
            //             method: 'GET',
            //             headers: myHeaders,
            //             redirect: 'follow'
            //             };

            //             fetch("https://imdb-internet-movie-database-unofficial.p.rapidapi.com/film/"+id, requestOptions)
            //             .then(response => response.json())
            //             .then(result => {
            //                 // document.getElementById('movie').innerText=result.title;
            //                 // document.getElementById('mname').innerText=result.title;
            //                 // document.getElementsByClassName('heading')[0].innerText=result.title;
            //                 document.getElementById('runtime').innerText=result.length;
            //                 document.getElementById('release').innerText=result.year;
            //                 document.getElementById('rdate').innerText=result.year;
            //                 document.getElementById('rating').innerText=result.rating +" / 10";
            //                 // document.getElementById('des').innerText=result.plot;
                            
            //             })
            //             .catch(error => console.log('error', error));
            //  }
            //  )
            // .catch(error => console.log('error', error));
                    

                    var platform ='netflix';
                    if (platform === 'prime' || platform === 'Prime' || platform === 'PRIME'){
                        document.querySelector('.net').style.display='none';
                        document.querySelector('.prime').style.display='block';
                        document.querySelector('.brand').style.backgroundImage="url('/assets/prime.png')";
                       
                    }
                    else{
                        document.querySelector('.net').style.display='block';
                        document.querySelector('.prime').style.display='none';
                        document.querySelector('.brand').style.backgroundImage="url('/assets/netflix.png')";
                    }
                }
                
</script>



<script defer>
    // Debounced scroll handler for better performance
    let scrollTimeout;
    function onScroll() {
        clearTimeout(scrollTimeout);
        scrollTimeout = setTimeout(() => {
            var content = document.querySelector('.content');
            var image = document.querySelector('.pic');
            var scroll_position = window.scrollY;

            if (scroll_position > 390) {
                content.style.backgroundColor = "#1b1b1b";
                content.style.transition = '0.4s';
                document.querySelector('.des').style.opacity = "0.9";
                document.querySelector('.cast').style.opacity = "0.9";
                document.querySelector('.cast').style.transition = '0.4s';
                document.querySelector('.des').style.transition = '0.4s';
                document.querySelector('#card1').style.opacity = "0.9";
                document.querySelector('#card2').style.opacity = "0.9";
                document.querySelector('#card3').style.opacity = "0.9";
                document.querySelector('#card4').style.opacity = "0.9";
                document.querySelector('#card1').style.transition = '1s';
                document.querySelector('#card2').style.transition = '2.5s';
                document.querySelector('#card3').style.transition = '4s';
                document.querySelector('#card4').style.transition = '5.5s';
            } else if (scroll_position > 20) {
                image.style.backgroundPosition = "100% 50%";
                image.style.transition = '0.4s';
            } else {
                image.style.backgroundPosition = "50% 50%";
                content.style.backgroundColor = "#0a0a0a";
                content.style.transition = '0.4s';
                image.style.transition = '0.4s';
                document.querySelector('.des').style.opacity = "0";
                document.querySelector('.des').style.transition = '0.4s';
                document.querySelector('.cast').style.opacity = "0";
                document.querySelector('.cast').style.transition = '0.4s';
                document.querySelector('#card1').style.opacity = "0";
                document.querySelector('#card2').style.opacity = "0";
                document.querySelector('#card3').style.opacity = "0";
                document.querySelector('#card4').style.opacity = "0";
                document.querySelector('#card1').style.transition = '0.4s';
                document.querySelector('#card2').style.transition = '0.4s';
                document.querySelector('#card3').style.transition = '0.4s';
                document.querySelector('#card4').style.transition = '0.4s';
            }
        }, 100); // Execute at most once per 100ms
    }

    document.addEventListener('scroll', onScroll, { passive: true });

    // Smooth scroll animation without jQuery
    function smoothScroll(target) {
        const startPosition = window.scrollY;
        const distance = target - startPosition;
        const duration = 1000;
        let start = null;

        window.requestAnimationFrame(function step(timestamp) {
            if (!start) start = timestamp;
            const progress = (timestamp - start) / duration;
            
            if (progress < 1) {
                window.scrollTo(0, startPosition + distance * easeInOutQuad(progress));
                window.requestAnimationFrame(step);
            } else {
                window.scrollTo(0, target);
            }
        });
    }

    // Easing function for smooth animation
    function easeInOutQuad(t) {
        return t < 0.5 ? 2 * t * t : -1 + (4 - 2 * t) * t;
    }

    function clck(){
        var flag = document.querySelector('.more').innerHTML;
        if(flag === 'LESS'){
            document.querySelector('.net').disabled=false;
            document.querySelector('.content').display="block";
            document.querySelector('.more').innerHTML='MORE';
            document.querySelector('.nextm').style.opacity=1;
            document.querySelector('.foot1').disabled=true;
            
            smoothScroll(0);

            setTimeout(() => {
                document.querySelector('.foot1').disabled=false;
                document.querySelector('.pic1').style.display="none";
            }, 1000);
        }
        else{
            document.querySelector('.net').disabled=true;
            document.querySelector('.pic1').style.display="block";
            document.querySelector('.more').innerHTML='LESS';
            document.querySelector('.content').display="none";
            document.querySelector('.nextm').style.opacity=0.01;
            smoothScroll(document.body.scrollHeight);
        }
    }
</script>
</script>
</html>
